
<div class="navbar bg-base-100">
    <a href="/" class="navbar-brand">Home</a>
    <ul class="navbar-nav">
        <li><a class="<%= (page === '/') ? 'active' : '' %>" href="/">Home</a></li>
        <li><a class="<%= (page === '/about') ? 'active' : '' %>" href="/about">About</a></li>
        <li><a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
    </ul>
  </div>
  